<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :nombre, autocomplete: "nombre" %>
  </div>

  <div class="field">
    <%= f.label :Apellido %><br />
    <%= f.text_field :apellido, autocomplete: "apellido" %>
  </div>

  <div class="field">
    <%= f.label :Fono %><br />
    <%= f.text_field :fono, autocomplete: "fono" %>
  </div>

  <div class="field">
    <%= f.label :Profesion %><br />
    <%= f.text_field :profesion, autocomplete: "profesion" %>
  </div>

  <div class="field">
    <%= f.label :Cargo_actual%><br />
    <%= f.text_field :cargo, autocomplete: "cargo" %>
  </div>

  <div class="field">
    <%= f.label :Tiempo_cargo %><br />
    <%= f.text_field :tiempo, autocomplete: "tiempo" %>
  </div>

  <div class="field">
    <%= f.label :Otros_datos %><br />
    <%= f.text_field :info, autocomplete: "informacion" %>
  </div>

    <div class="field">
    <%= f.label :Foto %><br />
    <%= f.file_field :images, multiple: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
