<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :nombre, autocomplete: "nombre" %>
  </div>

  <div class="field">
    <%= f.label :Apellido %><br />
    <%= f.text_field :apellido, autocomplete: "apellido" %>
  </div>

  <div class="field">
    <%= f.label :Fono %><br />
    <%= f.text_field :fono, autocomplete: "fono" %>
  </div>

  <div class="field">
    <%= f.label :Profesion %><br />
    <%= f.text_field :profesion, autocomplete: "profesion" %>
  </div>

  <div class="field">
    <%= f.label :Cargo_actual%><br />
    <%= f.text_field :cargo, autocomplete: "cargo" %>
  </div>

  <div class="field">
    <%= f.label :Tiempo_cargo %><br />
    <%= f.text_field :tiempo, autocomplete: "tiempo" %>
  </div>

  <div class="field">
    <%= f.label :Otros_datos %><br />
    <%= f.text_field :info, autocomplete: "informacion" %>
  </div>

    <div class="field">
    <%= f.label :Foto %><br />
    <%= f.file_field :images, multiple: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
