<div id="<%= dom_id offer %>">
  <p>
    <strong>Titulo:</strong>
    <%= offer.titulo %>
  </p>

  <p>
    <strong>Descripccion:</strong>
    <%= offer.descripccion %>
  </p>

  <p>
    <strong>Horas:</strong>
    <%= offer.horas %>
  </p>

  <p>
    <strong>Salario:</strong>
    <%= offer.salario %>
  </p>

</div>
