<div class="container ps-4">
<p style="color: green"><%= notice %></p>

<%= render @offer %>


<% Reaction.kinds.each do |kind| %>
<%= button_to "#{kind}", user_reaction_path(offer_id: @offer.id, kind: kind),
method: :post %>
<% end %>


<div>
  <%= link_to "Editar esta oferta", edit_offer_path(@offer) %> |
  <%= link_to "volver", offers_path %>

  <%= button_to "Eliminar", @offer, method: :delete %>
</div>
</div>